.detailReview .title-addAccount {
    margin-bottom: 30px;
    margin-left: 20px;
}

.detailReview .form{
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #00000029;
    border-radius: 12px;
    position: relative;
    padding: 10px 0;
    height: auto;
    border: 1px solid #ccc;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.detailReview .form .body-detailReview{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.detailReview .body-detailReview {
    flex: 1 1 auto;
    padding-top: 15px;
}

.detailReview .flex-sm-row {
    flex-direction: row!important;
}

.detailReview .media {
    display: flex;
    align-items: flex-start;
}

.detailReview .row{
    padding-left: 15px;
    padding-right: 10px;
}

.detailReview .col-sm-9, .detailReview .col-sm-3, .detailReview .col-sm-7, .detailReview .col-sm-5{
    padding-left: 0px;
    padding-right: 0px;
}
.detailReview .media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.detailReview .body-detailReview img {
    height: 250px;
    width: 210px;
}

.detailReview .nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}


.detailReview .list-left .nav li{
    font-weight: bold;
}

.detailReview .btnEdit-detailReview{
    margin-top: 20px;
}

.detailReview .btnEdit-detailReview{
    height: 40px;
    border-radius: 12px;
    width: 110px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    background: #3c4b64;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.detailReview .btn-comeback{
    width: 250px;
    margin-left: 0px;
    color: #3c4b64;
    background-color: #f0f0e9;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
}