.detailProduct .title-addAccount {
    margin-bottom: 30px;
    margin-left: 20px;
}

.detailProduct .form{
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #00000029;
    border-radius: 12px;
    position: relative;
    padding: 10px 0;
    height: auto;
    border: 1px solid #ccc;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.detailProduct .form .body-detailProduct{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.detailProduct .title-addAccount h2{
    margin-top: 20px;
    font-weight: bold;
}

.detailProduct h3{
    font-size: 20px;
}

.detailProduct .body-detailProduct {
    flex: 1 1 auto;
    padding-top: 15px;
}

.detailProduct .flex-sm-row {
    flex-direction: row!important;
}

.detailProduct .media {
    display: flex;
    align-items: flex-start;
}

.detailProduct .row{
    padding-left: 15px;
    padding-right: 10px;
}

.detailProduct .col-sm-7, .detailProduct .col-sm-5{
    padding-left: 30px;
    padding-right: 10px;
    
}
.detailProduct .media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.detailProduct .body-detailProduct img {
    height: 260px;
    width: 280px;
    margin-bottom: 20px;
}

.detailProduct .nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}


.detailProduct .list-left .nav li{
    font-weight: bold;
}

.detailProduct .btnEdit-detailProduct{
    margin-top: 20px;
}

.detailProduct .btnEdit-detailProduct{
    height: 35px;
    border-radius: 5px;
    width: 100px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    color: white;
    font-size: 15px;
    background: #3c4b64;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.detailProduct .btn-comeback{
    width: 250px;
    margin-left: 10px;
    color: #3c4b64;
    background-color: #f0f0e9;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.detailProduct .btn-detailProduct{
    margin-left: 30px;
}
