.feedbackForm .container{
    width: 100%;
}

.feedback .feedback-form{
    padding: 20px 0;
}

.feedback .form-controls .submit-controls button{
    height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feedbackForm .selectTopic{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #696763;
    height: 40px;
    padding: 6px 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
}

.feedbackForm .selectTopic option{
    color: #696763;
}

.feedbackForm .btn-contact button{
    margin-bottom: 20px;
    color: #fff;
    background-color: #FE980F;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 300px;
    margin-top: 10px;
    font-size: 16px;
}

.feedbackForm #contact-page .form-control {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #696763;
    height: 40px;
    padding: 6px 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
}