.headermidpartial {
  height: 80px;
  background-color: white;
}

.header-middle .col-md-2, .header-middle .col-md-4{
  padding-left: 0px;
  padding-right: 0px;
}

.header-middle .col-md-5{
  padding-left: 30px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.inputSearch {
  width: 350px;
  height: 40px;
  border-radius: 12px;
}

.buttonSearch {
  background-color: #fe980f;
  color: white;
}

.shop-menu .btn-Cart {
  border-radius: 20px;
  width: 165px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 0px;
  color: black;
  font-size: 15px;
  background: orange;
  margin-right: 20px;
}

.header-middle .shop-menu .btn-Account, .header-middle .shop-menu .btn-Login,
.header-middle .shop-menu .btn-Register{
  border-radius: 15px;
  border: 1px solid orange;
  width: 140px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 0px;
  color: orange;
  font-size: 15px;
}

.header-middle .shop-menu .btn-Logout{
  border-radius: 15px;
  border: 1px solid orange;
  width: 120px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 0px;
  color: orange;
  font-size: 15px;
}

.shop-menu .text-login {
  border: none;
  background: none;
  font-weight: bolder;
  font-size: 15px;
  color: orange;
  margin-left: 5px;
  margin-top: 8px;
}

.shop-menu .text-login i {
  margin-right: 5px;
}

.text-login :hover {
  cursor: pointer;
}

.btnSearch {
  width: 30px;
  height: 30px;
  background: #fff;
  position: absolute;
  cursor: pointer;
  top: 1px;
  right: 18px;
  padding-top: 3px;
  padding-left: 3px;
  border-radius: 0 25px 25px 0;
}

.btnSearch img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.logo img {
  width: 190px;
  height: 48px;
}

.header-middle .shop-menu ul li{
  padding-left: 20px;
  padding-right: 0px;
}
