.detailOrder .title-addAccount {
    margin-bottom: 30px;
    margin-left: 20px;
}

.detailOrder .form{
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #00000029;
    border-radius: 12px;
    position: relative;
    padding: 10px 0;
    height: auto;
    border: 1px solid #ccc;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.detailOrder .form .body-detailOrder{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.detailOrder .title-addAccount h2{
    margin-top: 20px;
    font-weight: bold;
}

.detailOrder h3{
    font-size: 20px;
}

.detailOrder .body-detailOrder {
    flex: 1 1 auto;
    padding-top: 15px;
}

.detailOrder .flex-sm-row {
    flex-direction: row!important;
}

.detailOrder .media {
    display: flex;
    align-items: flex-start;
}

.detailOrder .row{
    padding-left: 15px;
    padding-right: 10px;
}

.detailOrder .col-sm-7, .detailOrder .col-sm-5{
    padding-left: 60px;
    padding-right: 10px;
    
}
.detailOrder .media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.detailOrder .body-detailOrder img {
    height: 380px;
    width: 630px;
    margin-left: 8%;
    margin-bottom: 20px;
}

.detailOrder .nav li {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
}


.detailOrder .list-left .nav li{
    font-weight: bold;
}

.detailOrder .btnEdit-detailOrder{
    margin-top: 20px;
}

.detailOrder .btnEdit-detailOrder{
    height: 40px;
    border-radius: 12px;
    width: 110px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    background: #3c4b64;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.detailOrder .productItem{
    margin-left: 20px;
    margin-top: 40px;
}

.detailOrder .btn-comeback{
    width: 250px;
    margin-left: 10px;
    color: #3c4b64;
    background-color: #f0f0e9;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.detailOrder .box-order {
    padding: 20px;
}

.detailOrder table.dataTable {
    width: 100%;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 1 0px;
    margin-bottom: 20px;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

#Detail-ProductCol{
    width: 60%;
}
#Detail-StockCol{
    width: 10%;
}
#Detail-PriceCol{
    width: 15%;
}
#Detail-TotalCol{
    width: 15%;
}
.detailOrder .table{
    table-layout: fixed;
    width: 100%;
}