.detailAccount .title-addAccount {
    margin-bottom: 30px;
    margin-left: 20px;
}

.detailAccount .form{
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #00000029;
    border-radius: 12px;
    position: relative;
    padding: 10px 0;
    height: auto;
    border: 1px solid #ccc;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.detailAccount .form .body-detailAccount{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.detailAccount .body-detailAccount {
    flex: 1 1 auto;
    padding-top: 15px;
}

.detailAccount .flex-sm-row {
    flex-direction: row!important;
}

.detailAccount .media {
    display: flex;
    align-items: flex-start;
}

.detailAccount .row{
    padding-left: 15px;
    padding-right: 10px;
}

.detailAccount .col-sm-9, .detailAccount .col-sm-3, .detailAccount .col-sm-7, .detailAccount .col-sm-5{
    padding-left: 0px;
    padding-right: 0px;
}
.detailAccount .media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.detailAccount .body-detailAccount img {
    height: 200px;
    width: 180px;
}

.detailAccount .nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}


.detailAccount .list-left .nav li{
    font-weight: bold;
}

.detailAccount .btnEdit-detailAccount{
    margin-top: 20px;
}

.detailAccount .btnEdit-detailAccount{
    height: 40px;
    border-radius: 12px;
    width: 110px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    color: white;
    font-size: 15px;
    background: #3c4b64;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.detailAccount .btn-comeback{
    width: 250px;
    margin-left: 25px;
    color: #3c4b64;
    background-color: #f0f0e9;
    font-size: 15px;
    margin-bottom: 10px;
}

.detailAccount .btn-resetPass{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    right: 0;
    position: absolute;
    margin-right: 40px;
    margin-top: 15px;
    border: none;
    background-color: #3c4b64;
    color: white;
    border-radius: 8px;
    font-size: 15x;
}