.orderHistoryDetail .jquery-modal .modal {
    max-width: 600px;
    min-width: 550px;
    height: auto;
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .orderHistoryDetail .modal {
    vertical-align: middle;
    z-index: 2;
    box-sizing: border-box;
    background: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    text-align: left;
    display: inline-block;
    height: 480px;
    
  }
  
  .orderHistoryDetail .blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
  }
  
  .orderHistoryDetail .icon-close{
    position: absolute;
    right: 5px;
    top: 7px;
    cursor: pointer;
  }
  
  .orderHistoryDetail .headerOrderDetail {
    background-color: #fff !important;
    margin-top: 30px;
  }
  
  .orderHistoryDetail .headerOrderDetail p {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .orderHistoryDetail .text-muted {
    color: #6c757d !important;
  }
  
  .text-dark {
    color: #343a40 !important;
  }
  
  .font-weight-bold {
    font-weight: 700 !important;
  }
  
  .bodyOrderDetail {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 15px;
  }
  
  .orderHistoryDetail .bodyOrderDetail .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .flex-sm-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  
  .orderHistoryDetail .bodyOrderHistoryDetail h5 {
    font-size: 20px;
  }
  
  .orderHistoryDetail .bodyOrderHistoryDetail img {
    height: 180px;
    width: 260px;
    margin-left: -80px;
    margin-right: 0px;
  }
  
  .orderHistoryDetail .modal {
    display: block !important;
  }
  
  .orderHistoryDetail .px-3 {
    padding-left: 1rem !important;
  }
  
  .orderHistoryDetail .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: orange;
    padding-left: 0px;
    margin-top: 30px;
  }
  
  #progressbar li {
    list-style-type: none;
    font-size: 14px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #455a64 !important;
  }
  
  #progressbar #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 15px !important;
    padding-left: 11px !important;
  }
  
  #progressbar #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
  }
  
  #progressbar #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
  }
  
  #progressbar #step4:before {
    content: "4";
    color: #fff;
    width: 29px;
    margin-right: 15px !important;
    padding-right: 11px !important;
  }
  
  #progressbar li.active:before,
  #progressbar li.active:after {
    background: orange;
  }
  
  #progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455a64;
    border-radius: 50%;
    margin: auto;
  }
  
  #progressbar li:nth-child(1):after {
    left: 25%;
    width: 121%;
  }
  
  #progressbar li:nth-child(2):after {
    left: 50%;
  }
  
  #progressbar li:nth-child(3):after {
    left: 50%;
  }
  
  #progressbar li:nth-child(4):after {
    left: 25% !important;
    width: 50% !important;
  }
  
  #progressbar li:after {
    content: "";
    width: 121%;
    height: 2px;
    background: #455a64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .orderHistoryDetail .status-orderHistoryDetail{
    margin-bottom: 20px;
  }
  