.backgroundCart {
  background-color: #f0f0e9;
  padding-top: 10px;
  padding-bottom: 5px;
}

.backgroundCart .midCart {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
  min-width: 0;
  background-color: white;
}

.listProduct {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
  min-width: 0;
  background: #fff;
  box-shadow: 0 0 18px rgb(0 0 0 / 12%);
  border-radius: 2px;
}

.listing-cart {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
}

.backgroundCart .midCart .not-found-list{
  background-color: #f0f0e9;
}
